@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&family=Roboto:wght@300;400&family=Space+Mono&family=Ubuntu&family=Ubuntu+Mono&display=swap');

:root {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-mid {
  height: 100px;
  margin: 20px;
}

.logo-small {
  height: 20px;
  margin-bottom: 20px;
}

.map-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map {
  height: 350px;
  width: 350px;
  margin: 30px;
  border: 1px solid gray;
  background-color: rgb(125, 193, 220);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  border-radius: 5px;
}

/* .leaflet-container {
  width: 350px;
  height: 350px;
  font-size: 10px;
} */